body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    display: flex;
    justify-content: left;
    align-items: center;

    height: 100vh;
    margin: 30;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;

    width: 350px;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    font-color: ff0000;
}

.input-section {
    background-color: d4af37
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
}

#addButton {
    padding: 10px 15px;
    cursor: pointer;
}

#taskList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#taskList li {
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
